body{
    background-image: url("https://img.freepik.com/foto-gratis/marron-beige-crema-claro-lujo-abstracto-como-fondo-modelo-textura-seda-algodon_1258-71860.jpg?w=826&t=st=1664589455~exp=1664590055~hmac=4840ccd2286c3f4ccfa232ae68f31e027bac2a7c21e119375eb88d1d0b2b3cc2");
}

h1{
    
    color:coral;
}

h2{
    color:darkcyan;var div = document.getElementById('node');


}
